#page{
    width: 50%;
    height: 600px;
    margin-left: 25%;
}

input{
    width: 70%;
    height: 25px;
    margin-right:40px;
}
#search{
    margin-top:10px;
    margin-left: 2%;
}
button{
    border-radius:10px;
    height: 30px;
    width: 20%;
    background-color: white;
}
td{
    width: 100%;
    border: 1px solid black;
    padding-left: 2px;
}
table{
    border: 1px solid black;
    width: 90%;
    height: 100%;
    margin-left:5%;
}
tr{
    border:1px solid black;
}
img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 2%;
}
#prof{
    float:left;
    width: 49%;
    height: 90%;
}
#repo{
    float: left;
    width: 49%;
    height:90%;
}
#repoTable{
    overflow:scroll;
}
h2{
    margin-left: 20px;
}
